@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Lato:wght@400;700&family=Assistant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: rgb(32,32,32);
    background: linear-gradient(175deg, rgba(32,32,32,1) 0%, rgba(0,0,0,1) 0%, rgba(42,42,43,1) 44%, rgba(75,75,78,1) 77%, rgba(105,117,121,1) 100%);
}